sudo: required
dist: trusty
language: python

python:
  - "2.7"
  - "3.4"

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libvirt-dev

install:
  - pip install tox-travis

script: tox

deploy:
  provider: pypi
  user: internaphosting
  password:
    secure: Lnv5+pVCUC06PtJHev6hc8uK0mjYnRU/sq2tI4w98XoSY+Dc5hdH/5OSCjJJTbowXa09zwR28732CyZMUoLkFvA0rwAAdMtgThJTn5B5q5/B2NfNTyyLmtVrCekMiyun8eB2Zkywg5IJAjVY75GZezvaLr0df3Nl5Z9LQ+Mt+GYExQSsvhSxNxriYwzPTvjnu8UNhmyaxEDydjpKI3J2A/3Dk/6FadYyTfMoapsbeyjLQRptnfUPmXzcpziyAVCboWUSrZ1k4KGvT/y7EPjgcgrkKd8pjlr0Cif024prpqmb1ppuYvf0c+FSGqNNAFIb9bvp8vW70HKnn8Mi3BTuczQShm2gvnlDhvCGAGrSAXLxlyTLc+iqVb5lqktYcrDPH9i2/0R1vfuH9HGgSpY7dG+2/f+53/86f/RR4xnPpg/vdggx2IgCZDTN4/Qd/JD7nos3Zdr2w1vD2y3VgCEQTHpQjyCSRi5wRYd/6FpJh61WJ7AW207qXxEkJF4smG4X8+PjUpnK9OWF5HjCe85r/YkqVN3xqC9AmTUTcKVHX2Ua2iAiBfnl31a4LzutyWGCvlSjOA8bfTnY6qqisOePiVE6TsV/K/Ee3NM/cetuTv1VM/Gb0PdS1g2wbvWd2GsT3z9jnnI2dTXmWJMqYmdRFxX1k3Ay+udI7ok/jTMxJ4g=
  on:
    tags: true
    repo: internap/virtualpdu
